
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #333333;
}

//ARTICLE CSS
//****************************************
section.company_details{
    display: flex;
    width: 70rem;
    margin: 1rem auto;
    article{
        h2{
            text-transform: uppercase;
        }
        margin: 0 1em;
        background-color:rgba($color: #7cf10fb7, $alpha: 0.7);
        padding: 0.8em;
    }
    article:nth-child(1){
        flex-basis: 2;
    }
}
//________________________________________


//HEADER SECTION
//**********************************************
#RV445FFfe{
    // height: 20vh;
}
    #RVsdgt445FFfe{
        display: flex;
        padding: 3rem 0;
        width: 94vw;
        .ERV445FFfe{
            margin: 0 1.2em;
        }
        .ERV445FFfe:first-child{
            flex: 2;
        }
        .ERV445FFfe:nth-child(2){
            address{
                font-size: 1.2rem;
                font-weight: 900;
            }
            small{
                display: block;
            }
        }
        .ERV445FFfe:last-child{
            span{
                display: block;
                border-radius: 1em;
                border: 2px solid forestgreen;
                padding: 0.4em 1em;
            }
        }
    }

//_________________________________________________


.main_wrapper{
    //
}
.WEriut3_1 div img{
    width: 40vw;
}
.WEriut3_2 div img{
    width: 40vw;
}
.WEriut3_1{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
    // .product_img{
    //     img{
    //         margin-left: 2em;  
    //     }
    //     margin-left: 2em;
    // }
    .stmg{
        background-color: green;
        margin-left: 3rem;
        padding:0 1em;
        height: 38em;
    }
    h3.type{
       min-height: 40px;
       background: #26ca17;
       color: #fff;
       padding: 0 10px;
       line-height: 1.5em;
       font-size: 2rem;
       text-transform: uppercase;
       font-weight: 400;
   }
}
.WEriut3_2{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    // .product_img{
    //     img{
    //         margin-left: 2em;  
    //     }
    //     margin-left: 2em;
    // }
    .stmg{
        background-color: green;
        margin-right: 3rem;
        padding:0 1em;
        height: 38em;
    }
    h3.type{
       min-height: 40px;
       background: #26ca17;
       color: #fff;
       padding: 0 10px;
       line-height: 1.5em;
       font-size: 2rem;
       text-transform: uppercase;
       font-weight: 400;
   }
}

    
 footer{
    background-image: linear-gradient(to right, rgb(77, 32, 32) , yellow);
     padding: 1em 1.2em;
    section{
    display: flex; 
    .footer_flex{
        flex: 2;
    }  
    }
}




//**********************MOBILE CSS
@media only screen and (max-width: 600px) {
    .main_wrapper{
        text-align: center;
        .WEriut3_1{
            width: 90vw;
            flex-direction: column;
            img{
                width: 80vw;
            }
            .stmg{
                margin: 0;
                margin-top: 1rem;
            }
        }
        .WEriut3_2{
            width: 90vw;
            flex-direction: column;
            text-align: center;
            img{
                width: 80vw;
            }
            .stmg{
                margin: 0;
                margin-top: 1rem;
            }
        }
    }
    section.company_details{
        flex-direction: column;
        width: 80vw;
        article{
        margin-top: 1rem;
        border-radius: 0.3em;
        h2{
            font-size: larger;
            font-weight: 990;
        }
        }
    }
    #RV445FFfe{
        width: 90vw;
        margin: 1em auto;
        text-align: center;
    }
    #RVsdgt445FFfe{
        flex-direction: column;
        padding: 0;
        .ERV445FFfe:nth-child(2){
            address{
                font-size: 1rem;
            }
        }
        .ERV445FFfe{
            margin-top: 2rem;
        }
    }
}
//_____________________________MOBILE.CSS