body,*{
    padding: 0;
    margin: 0;
    // box-sizing: border-box;
    
}
#icon{
    cursor: pointer;
    display: none; 
    margin: 0 8px;
    flex: 0 0 0;
}
#icon:hover{
    opacity: 0.8;
}
nav #icon span{
    display: block;
    background-color: #eee1e1;
    width: 2.7rem;
    height: 0.34rem;
    margin: 0.3rem 0;
    border-radius: 0.12rem;
    font-weight: 500;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
nav ul li{
    margin: 0.2em 1em;
    padding: 0 0.6em;
    list-style: none;
}
nav ul li:nth-child(-n+3):hover{
    border: 1px solid forestgreen;
    border-radius: 0.6em ;
    border-top-color: fuchsia;
    border-bottom-color: fuchsia;
}
nav ul li:first-child{
    
    border-radius: 0.6em ;
}
nav{
    background-color: black;
    line-height: 2.7rem;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    /* justify-content: space-between; */
    flex: 2 1 200px; 
}
.input{
  flex: 1 1 0;
}
.drop_down{
    position: relative;
}
.drop_down_content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 2px 4px  0px rgba(0,0,0,0.2);
    z-index:2;
}
.drop_down_content a{
    color: black;
    padding: 1px 6px;
    text-decoration: none;
    display: block;
}
.drop_down_content a:hover{
    color: rgb(66, 230, 66);   
}
.drop_down:hover .drop_down_content {
    display: block;
    border-radius: 0.2em;
}
#mobilenavModal{
  height:	120%;		
  margin-top:	-12vh;		
  position:	relative;		
  display:	flex;		
  align-items:	center;	
  justify-content:	center;
  background-color: blue;
}
#mobilenavModal ul li,#mobilenavModal ul li a{
    text-decoration: none;
    list-style: none;
    margin-top: 1rem;
}
 #mobilenavModal ul {
     position: absolute;
     top: 34%;
     left: 45%;
     font-size: 2rem;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 28px 8px;
    font-size: 5em;
    font-weight: 900;
    width: auto;
    height: auto;
    background: transparent;
    border: 0;
    outline: none;
    color: #eee3e3;
    z-index: 1000;
    font-weight: 100;
    line-height: 1;
    cursor: pointer;
  } 
@media only screen and (max-width: 720px) {
    .collapse-able{
        display: none;
    }
    #mobilenavModal ul {
        position: absolute;
        top: 30%;
        left: 30%;
   }
   #icon{
       display: block;
   } 

}




#modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,0.85);
  }

  .modal-content {
    height: 100%;
    max-width: 105vh;
    padding-top: 12vh;
    margin: 0 auto;
    position: relative;
  }