@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);@import url(https://fonts.googleapis.com/css?family=Archivo+Black|Roboto&display=swap);body {
  color: #181414;
  font-family: "Roboto", sans-serif;
  background-color: #f6f7f8;
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:link,
a:active,
a:visited,
a {
  text-decoration: none;
}

.con-contact {
  background-color: #f15f5f;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
}

#phone-now {
  display: block;
  font-size: large;
  background-color: #b34141;
  border-top-left-radius: 1rem;
  padding: 1rem 0;
  border-top-right-radius: 1rem;
  color: white;
  width: 17rem;
  margin: 0 auto;
}

#phone-now:hover {
  color: #db1414;
  background-color: #8f2f2f;
}

#phone-now:active {
  color: #e2d2d2;
  background-color: #cf8b8b;
}

.company_details {
  display: -webkit-box;
  display: flex;
  width: 75rem;
  margin: 1rem auto;
}

.company_details article {
  margin: 0 1em;
  background-color: rgba(124, 241, 15, 0.7);
  padding: 0.8em;
}

.company_details article h2 {
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 2.5em;
  font-weight: 520;
  letter-spacing: 0.3rem;
  font-family: "Archivo Black";
}

.company_details article:nth-child(1) {
  flex-basis: 2;
}

#RVsdgt445FFfe {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 94vw;
  padding: 1rem 0;
}

#RVsdgt445FFfe .ERV445FFfe {
  margin: 0 1.2em;
}

#RVsdgt445FFfe .ERV445FFfe:first-child {
  -webkit-box-flex: 2;
          flex: 2;
}

#RVsdgt445FFfe .ERV445FFfe:first-child #company-brand {
  width: 10.1em;
  height: 10.1em;
}

#RVsdgt445FFfe .ERV445FFfe:nth-child(2) address {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: sans-serif;
}

#RVsdgt445FFfe .ERV445FFfe:nth-child(2) small {
  display: block;
}

#RVsdgt445FFfe .ERV445FFfe:last-child a {
  display: block;
}

#phone {
  border: 0.04em solid #cbeccb;
  background-color: #2ee92e;
  color: #4444eb;
  border-radius: 0.3em;
  padding: 0.2em 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}

#phone:hover {
  border: 0.04em solid #c3f0c3;
  background-color: #87f387;
  color: #7272ec;
}

#phone:active {
  border: 0.04em solid #c3f0c3;
  background-color: #b7f0b7;
  color: #1c1c9e;
}

.inlineCall {
  color: #f15f5f;
}

.inlineCall:hover {
  color: #fff;
}

.WEriut3_1 {
  width: 90vw;
  margin: 4em auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.WEriut3_1 div img {
  width: 40vw;
  height: 25em;
}

.WEriut3_1 .stmg {
  text-align: left;
  background-color: #fff;
  margin-left: 3rem;
  padding: 0 1em;
  color: #8a8585;
  font-weight: 600;
}

.WEriut3_1 h3.type {
  min-height: 40px;
  color: #2b2a2a;
  padding: 0 10px;
  line-height: 1.5em;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.WEriut3_2 {
  width: 80vw;
  margin: 4em auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.WEriut3_2 div img {
  width: 40vw;
  height: 25em;
}

.WEriut3_2 .stmg {
  background-color: #fff;
  margin-right: 3rem;
  padding: 0 1em;
  text-align: left;
  color: #8a8585;
  font-weight: 600;
}

.WEriut3_2 h3.type {
  min-height: 40px;
  color: #2b2a2a;
  padding: 0 10px;
  line-height: 1.5em;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

footer {
  background-color: #343334;
  padding: 1em 1.2em;
}

footer p,
footer .footer_flex {
  color: wheat;
  width: 12rem;
  margin: 0 auto;
}

#submitBtn {
  border: 0.04em solid #cbeccb;
  background-color: #2ee92e;
  color: #4444eb;
  border-radius: 0.3em;
  padding: 0.2em 0.5em;
  font-size: 1.2em;
  width: 20rem;
}

#submitBtn:hover {
  border: 0.04em solid #c3f0c3;
  background-color: #87f387;
  color: #7272ec;
}

.ctu_H1 {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.5em;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

.reception {
  display: -webkit-box;
  display: flex;
  margin: 2rem auto;
  width: 80vw;
  -webkit-box-align: center;
          align-items: center;
}

p {
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  .reception {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
    width: 100vw;
    margin: 0;
    -webkit-box-align: center;
            align-items: center;
  }

  .main_wrapper .WEriut3_1 {
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    text-align: center;
    border: 1px solid #c2bbbb;
    border-radius: 0.7rem;
  }

  .main_wrapper .WEriut3_1 img {
    width: 89vw;
    height: 22em;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
  }

  .main_wrapper .WEriut3_1 .stmg {
    margin: 0;
    margin-top: 0.1rem;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
  }

  .main_wrapper .WEriut3_1 .stmg h3 {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.9rem;
    font-weight: bold;
  }

  .main_wrapper .WEriut3_2 {
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    text-align: center;
    border: 1px solid #c2bbbb;
    border-radius: 0.7rem;
  }

  .main_wrapper .WEriut3_2 img {
    width: 89vw;
    height: 22em;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
  }

  .main_wrapper .WEriut3_2 .stmg {
    margin: 0;
    margin-top: 0.1rem;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
  }

  .main_wrapper .WEriut3_2 .stmg h3 {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.9rem;
    font-weight: bold;
  }

  div.company_details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 90vw;
  }

  div.company_details article {
    margin-top: 1rem;
    border-radius: 0.3em;
  }

  div.company_details article h2 {
    font-size: 1.4rem;
    font-weight: 790;
  }

  #RV445FFfe {
    width: 90vw;
    margin: 0.2em auto;
    text-align: center;
  }

  #RVsdgt445FFfe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 0;
  }

  #RVsdgt445FFfe .ERV445FFfe:first-child #company-brand {
    width: 14em;
    height: 14em;
  }

  #RVsdgt445FFfe .ERV445FFfe:nth-child(2) address {
    font-size: 1rem;
  }

  #RVsdgt445FFfe .ERV445FFfe {
    margin-top: 1.4rem;
  }

  #submitBtn {
    width: 89vw;
  }
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: #1b1919;
  line-height: 2.7rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

nav ul {
  display: -webkit-box;
  display: flex;
  /* justify-content: space-between; */
  -webkit-box-flex: 2;
          flex: 2 1 200px;
}

#icon {
  cursor: pointer;
  display: none;
  margin: 0 8px;
  -webkit-box-flex: 0;
          flex: 0 0 0;
}

#icon:hover {
  opacity: 0.8;
}

nav #icon span {
  display: block;
  background-color: #eee1e1;
  width: 2.7rem;
  height: 0.34rem;
  margin: 0.3rem 0;
  border-radius: 0.12rem;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

nav ul li a:nth-child(2) {
  color: purple;
}

nav ul li:nth-child(2) {
  font-size: 1.4em;
}

nav ul li,
nav ul li a:active {
  margin: 0em 1em;
  padding: 0 0.3em;
  list-style: none;
  outline: none;
}

nav ul li a:hover {
  color: #00ff6a;
  font-weight: bolder;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.input {
  -webkit-box-flex: 1;
          flex: 1 1 0;
}

.drop_down {
  position: relative;
}

.drop_down_content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.drop_down_content a {
  color: black;
  padding: 1px 6px;
  text-decoration: none;
  display: block;
}

.drop_down_content a:hover {
  color: #42e642;
}

.drop_down:hover .drop_down_content {
  display: block;
  border-radius: 0.2em;
}

#mobilenavModal ul {
  position: absolute;
  top: 34%;
  left: 45%;
  font-size: 2rem;
}

@media only screen and (max-width: 720px) {
  .collapse-able {
    display: none;
  }

  #mobilenavModal ul {
    position: absolute;
    top: 24%;
    left: 30%;
  }

  #icon {
    display: block;
  }
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(26, 228, 77, 0.95);
}

body#modal {
  overflow: hidden;
}

.Modal-content {
  height: 100%;
  max-width: 105vh;
  padding-top: 12vh;
  margin: 0 auto;
  position: relative;
}

#mobilenavModal {
  height: 100%;
  position: relative;
}

#mobilenavModal ul li,
#mobilenavModal ul li a {
  text-decoration: none;
  list-style: none;
  margin-top: 1rem;
  color: #f7e7e7;
  font-weight: bolder;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 28px 8px;
  font-size: 5em;
  font-weight: 900;
  width: auto;
  height: auto;
  background: transparent;
  border: 0;
  outline: none;
  color: #f88181;
  z-index: 1000;
  font-weight: 100;
  line-height: 1;
  cursor: pointer;
}

